/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap");

/* CSS Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gold-color: #efca08;
  --blue-color: #5465ff;
  --light-blue: #bfd7ff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  /* Relative to rem measurement i.e. 1 rem === 16px*/
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 1.4rem;
  word-spacing: 5px;
}

section {
  height: 100vh;
  overflow: hidden;
}

.box-color {
  background: #9fc2cc;
}

.highlight {
  color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Nav Bar CSS */

.nav {
  margin-top: 1.2rem;
  /* Aligns equal space on left and right 
    so our content goes in center */
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list li {
  font-size: 1.4rem;
  padding: 20px;
  margin: 0 8px;
}

#logo {
  font-size: 1.6rem;
  margin: 0 0 0 1rem;
}

.nav .nav-list .btn:hover {
  border-bottom: 2px solid black;
}

/* End of Nav Bar CSS */

/* Home Page CSS */

.banner {
  margin-top: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-1 {
  flex-basis: 60%;
  position: relative;
  margin-left: 10%;
  left: -3rem;
}

.col-1::after {
  content: "";
  width: 0.8rem;
  height: 90%;
  position: absolute;
  background: linear-gradient(#bfd7ff, #000);
  left: -2rem;
  top: 1rem;
}

.welcome {
  color: black;
  font-size: 5rem;
  line-height: 6rem;
}

.desc {
  font-size: 1.6rem;
  margin-left: 0.8rem;
  margin-top: 1rem;
}

.col-2 {
  position: relative;
  flex-basis: 40%;
}

.color-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 80%;
  border-radius: 8rem 2rem 8rem 0;
  z-index: -1;
}

.home-img {
  width: 50vh;
  height: 80vh;
}

/* Games Page CSS */

#games-jar {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
}

.game-box {
  width: 30%;
  height: 80%;
  margin: 1.5rem;
  border-radius: 8rem 2rem;
}

.game-box:hover {
  transform: skewY(10deg);
}

/* Responsice CSS */

@media only screen and (max-width: 700px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-list li {
    font-size: 0.8rem;
    margin: 0 0.1rem;
    padding: 1rem;
  }

  .logo {
    font-size: 1.5rem;
    margin: 0;
  }

  .banner {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1rem;
  }

  .col-1 {
    z-index: 1;
    margin-left: 5rem;
    top: 20rem;
  }

  .welcome {
    font-size: 2.3rem;
    line-height: 50px;
  }

  .desc {
    font-size: 0.8rem;
    margin: 0 0.2rem;
  }

  .col2 {
    grid-column: 1 / -1;
  }

  .col-2 .home-img {
    position: relative;
    width: 30vh;
    height: 70vh;
    left: 16rem;
  }

  .color-box {
    width: 100%;
    border-radius: 10rem 0 0 5rem;
  }

  /* Games CSS */

  #games-jar {
    flex-direction: column;
  }

  .game-box {
    width: 100%;
    margin: 1rem;
    border-radius: 8rem 2rem;
  }
}
